<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <title>Home</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/section.css">
</head>
<body>
<header>
    <div class="logo">
        <a class="navbar-brand" href="#">
            <h1>1ocaColaJourney</h1>
            <p>Refreshing the world, one story at a time</p>
        </a>
    </div>

    <nav>
        <a href="index.html" target="_blank">Home</a>
        <a>About</a>
        <a href="models.html" target="_blank">Models</a>
        <a>Contact</a>
    </nav>
</header>

<section class="content">
        <div class="left">
            <div class="left-text">
                <h2>Coca Cola Great Britain</h2>
                <h3 style="color: #008b8b">Founded in 1886 Dr John S Pemberton</h3>
                <p>
                    The Coca Cola Company is the world's leading manufacturer, marketer and distributor of non-alcoholic beverage concentrates and syrups, and produces nearly 400 brands.
                </p>
            </div>
        </div>

        <div class="right">
        </div>

</section>
<footer>
    <div style="float: left;padding-left: 20px;margin-top: 20px;font-size: 20px">
        你好，X3DOM
    </div>
        <div style="float: right;padding-right: 20px;margin-top: 20px">
            <img src="../imgs/github-fill.svg" style="width: 50px;height: 50px;cursor: pointer" onclick="toGitHub()">
        </div>
    </footer>
<script src="../js/index.js"></script>



</body>
</html>
