*{
    padding: 0px;
    margin: 0px;

}

a{
    text-decoration: none;
    color: black;
}
body{
    width: 100vw;
    height: 100vh;
    background: rgba(255,228,196,.6);
}
section,header,div,footer{
    box-sizing: border-box;
}

